[tool.nixpacks]
providers = ["python"]

[phases.setup]
nixPkgs = ["python312", "python312Packages.pip", "postgresql"]

[phases.install]
cmds = ["pip install --upgrade pip", "pip install -r requirements.txt"]

[phases.build]
cmds = ["chmod +x start.sh"]

[start]
cmd = "./start.sh"
