[tool.nixpacks]
providers = ["python"]

[phases.setup]
nixPkgs = ["python312", "postgresql"]

[phases.install]
cmds = ["python3 -m pip install --upgrade pip", "python3 -m pip install -r requirements.txt"]

[phases.build]
cmds = ["chmod +x start.sh"]

[start]
cmd = "./start.sh"
